   body{
      display: block;
      margin: 0 auto;
      max-width: 1000px;
   }
   h1 {
    color: pink;
    text-align: center;
   }
   p {
      margin: 5px 0 5px 0;
   }
   .intro-para{
      text-align: center;

   }
   .app-container {
      max-width: 900px;
      display: block;
      margin: 0 auto;
      padding: 30px;
   }
   .form-question {
      margin: 5px;
   }

   .submit-button {
      margin: 5px 0 5px 0;
   }
   .card{
    background-color: bisque;
      width: 400px;
    height: 600px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    }
    
    .colors {
    display: flex;
    width: 6rem;
    justify-content: space-between;
    cursor: pointer;
    }
    .color1 {
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    }
    
    .color2 {
    background: gray;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    }
    
    .color3 {
    background: blue;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    }

    .fonts {
      display: flex;
      width: 6rem;
      justify-content: space-between;
      cursor: pointer;
      }
      .font1, .font2, .font3{
         margin: 3px;
      }
      .font1 {
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         
      }
      .font2 {
         font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         display: flex;
      }
      .font3 {
         font-family: monospace;
      }