

body,h1,h2,h3,h4,h5,h6 {
	font-family: "Lato", sans-serif;

}


p {
    font-size:20px;

}



.w3-bar,h1,button {
	font-family: "Montserrat", sans-serif;
}


#container {
    margin: 20px;
    width: 200px;
    height: 200px;
  }

  * {
    box-sizing: border-box;
}


.fa-anchor,.fa-coffee {
	font-size:200px;
}


.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}


@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}



/* meet the team */

.w3-circle w3-hover-opacity {
	width:45%;

}


/*padding the area around quote inside header */

.w3-container {
	padding:128px 16px
}



/*bottom button position */

.w3-tooltip {
	position:relative;
	bottom:100px;
	z-index:1;

}
